<div class="container mt-4">
  <h2>{{ id ? 'Editar' : 'Nueva' }} Productora</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input class="form-control" formControlName="nombre" />
    </div>

    <div class="mb-3">
      <label class="form-label">Slogan</label>
      <input class="form-control" formControlName="slogan" />
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" formControlName="descripcion"></textarea>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" formControlName="estado" id="estado" />
      <label class="form-check-label" for="estado">Activo</label>
    </div>

    <button class="btn btn-success" type="submit">Guardar</button>
  </form>
</div>
