<div class="container mt-4">
  <h2>{{ id ? 'Editar Director' : 'Nuevo Director' }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Nombres</label>
      <input class="form-control" formControlName="nombres" />
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="estado" formControlName="estado" />
      <label class="form-check-label" for="estado">Activo</label>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
